*.iml
.gradle
/captures
/build
buildSrc/build

/local.properties
config.properties
*.log

.DS_Store
.externalNativeBuild

# IntelliJ .idea folder
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
.idea/compiler.xml
/.idea/jarRepositories.xml