<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guerra.enrico.base_android">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".utils.SingleFragmentActivity" />
    </application>

</manifest>
